@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  height:100%;
   margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center;    
}

body {
  background-image: url('/datel_a_datlici.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
 
}

.container {
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;    
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;       
  min-height: 100vh;
  padding: 20px; 
}
